@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}


.lading-page {
    /* width:auto;
     height: auto;  */
    top: 0;
    background: linear-gradient(155.28deg, #383638 2.06%, #0B0B0B 33.08%);
    width: 100%;
    height: 807px;
    gap: 0px;
    opacity: 0px;
}


.navbar-1 {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 20px;
}

.logo {
    width: 125px;
    height: 29px;
    top: 21px;
    left: 196px;
    margin-left: 205px;

}


.Routes {
    width: 230px;
    height: 24px;
    top: 23px;
    left: 605px;
    word-spacing: 10px;
    font-family: poppins;
    margin-left: -321px
     

    
}

.Auth {
    width: 136px;
    height: 24px;
    top: 23px;
    left: 1146px;
    font-family: poppins;
}

Routes,
Auth,
a,
span {
    text-decoration: none;
    color: rgba(139, 142, 153, 1);

}


.iphone-1 {
    width: 902px;
    height: 738px;
    top: 105px;
    left: 538px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: end;
    float: right;

}


.hedr-para {
    font-size: 57px;
    font-weight: 700;
    line-height: 71.53px;
    text-align: left;
    color: aliceblue;
  position: relative;
   padding: -20px;
    width: 457px;
height: 228px;
top: 108px;
left: 192px;
gap: 0px;
opacity: 0px;


}

.main-paira {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.08px;
    text-align: left;
    width: 456px;
    height: 101px;
    top: 103px;
    left: 194px;
    gap: 0px;
    opacity: 0px;
    color: rgba(139, 142, 153, 1);
    position: relative;

}



.search-bar {

    width: 443px;
    height: 60px;
    top: 557px;
    left: 194px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
    overflow: hidden;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    position: absolute;

}


.input-feilds {

    background: none;

    width: 418px;
    height: 49px;
    top: 618px;
    left: 213px;
    gap: 0px;
    opacity: 0px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
    border: none;
    outline: none;


    
      
}


/* Removeing (X) button from input tag  */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.search-button {
    width: 200px;
    height: 49px;
    top: 618px;
    left: 488px;
    gap: 0px;
    opacity: 0px;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    background-color: #3b82f6;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-color: #3b82f6;
    margin-right: 12px;
}


.search-icon {
    width: 21px;
    height: 21px;
    top: 632px;
    left: 213px;
    gap: 0px;
    opacity: 0px;
    margin-left: 40px;
    cursor: pointer;

}



/* Product section */

.category{
    /* width: 1141px; */
    height: 231px;
    top: 880px;
    left: 150px;
    gap: 0px;
    opacity: 0px;
    
}

.products{
    display: flex;
    justify-content: space-evenly;
    /* width: 1141px; */
    height: 231px;
    margin-left: 140px;
    margin-right: 177px;

   


}

.tagLine-products{

/* width: 620.2px; */
height: 108px;
top: 880px;
left: 410px;
gap: 0px;
opacity: 0px;

font-family: Poppins;
font-size: 43px;
font-weight: 700;
line-height: 52.01px;
letter-spacing: -0.14399999380111694px;
text-align: center;
color:  #8B8E99;
padding: 20px;

}





.iPhone{
/* width: 1440px; */
height: 788px;
top: 1185px;
padding: 130px 239.5px 0px 239.5px;
gap: 0px;
opacity: 0px;
background-color: #000000;
;
}



.Texts{

}

.logo-0{

}



.price{

}


.LearnMore{

    
}